form input {
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.11);
    border: none;
    background: lightsteelblue;
    margin: 5px 10px;
    border-radius: 8px;
    height: 3rem;
    width: 60%;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0 3rem;
    font-size: 1rem;
  }
  .card {
    margin: 20px auto;
    width: 50%;
    border: 3px solid #73AD21;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .signUpButton{
    background-color: orange;
  }